<div class="container">
  <h1>Assignment 3</h1>
  <h2>Instructions</h2>
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li><em>DONE&nbsp;</em>Add A button which says 'Display Details'</li>
        <li><em>DONE&nbsp;</em>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li><em>DONE&nbsp;</em>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li><em>DONE&nbsp;</em>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li><em>DONE&nbsp;</em>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
  </div>
  <h2>A Thing</h2>
  <button 
    class="btn btn-primary"
    (click)="onDisplayToggle()" 
  >
    Toggle the display of a paragraph of text.
  </button>
  <p>doDisplayParagraph = <strong>{{doDisplayParagraph}}</strong></p>
  <p *ngIf="doDisplayParagraph">
    PLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <h2>Logs A Thing</h2>
  <div class="test">
    <div class="another-test" #div></div>
  </div>
</div>